
main{
    width: 50%;
    height: 40vh;
    margin: 100px auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 100%;
    padding: 5px 10px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.error{
    margin: 0px;
    padding-left: 5px;
}
#email-container{
    width: 60%;
}
#password-container{
    width: 60%;
}
#confirmPassword-container{
    width: 60%;
}

button{
    padding: 10px 40px;
    background-color: rgb(22, 84, 255);
    border: none;
    font-size: 16px;
    color: white;
    font-weight: 500;
    border-radius: 10px;

}